/* CSS for gwendolynX.com portfolio site
by Gwen Latasa */

@media screen and (max-width: 600px){
  main {
    flex-direction: column;
  }
 /*
  section {
    order: 1;
  }*/
}

body {
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /*
  justify-content: center;
  align-items: center;*/
}
header{
  /*
  background-color: #faff82;*/
  display:flex;
  flex-direction: row;
  align-items: center;
  flex-basis: 300px;
}

h1{
  color: #86ced6;
  font-size: 150px;
  font-family: 'Pacifico', cursive, sans-serif;
}
.middle_section{
  display: flex;
  flex: 1;

}

h3{
  font-family: 'Shadows Into Light', cursive, sans-serif;
  font-size: 40px;

}
p{
  font-family: arial, sans-serif;
}
a{
  text-decoration: none;
  color: white;
}
.side_nav{

  display: flex;
  flex-basis: 200px;
  border-right: solid;

}
.side_nav ul{
  list-style-type: none;
  margin: 0;
  padding: 5px 5px 20px 5px;
  align-items: center;
}


.side_nav a{
  font-size: 30px;
  color: #4a676b;
}
main{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 20px;

}
main img{
  border-radius: 50%;
  border: 1px solid #ddd;
  padding: 5px;
  width: 200px;
}


.footer_nav ul{
  /*background-color: #86ced6;*/
  height: 100px;
  display: flex;
  margin: 0 auto;
  padding: 5px;
  align-items: center;
  list-style-type: none;
}

.footer_nav li{
  font-size: 15px;
  height: 60px;
  width: 60px;
  line-height: 60px;
  border-radius: 50%;
  text-align: center;

}

.email{
  background-color: #efa0c6;
}
.ig{
    background-color: #86efd8;
}


/* borrowed from w3schools to make the instagram button
still need to figure out how to mke it bigger
https://www.w3schools.com/howto/howto_css_social_media_buttons.asp
.fa {
    font-size: 80px;

    height: 60px;
    width: 60px;
    line-height: 60px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-instagram{
  background: #3B5998;
  color: white;

}*/
