/* CSS for gwendolynX.com portfolio site
by Gwen Latasa */

@media screen and (max-width: 600px){
  main {
    flex-direction: column;
  }
 /*
  section {
    order: 1;
  }*/
}

body {
  min-height: 100vh;
  background-color: orange;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /*
  justify-content: center;
  align-items: center;*/
}
header{
  background-color: yellow;
}

h1{
  color: teal;
}
.middle_section{
  display: flex;
  flex: 1;
  background-color: red;
}
h3{

}
a{
  text-decoration: none;
  color: white;
}
nav{
  background-color: lightblue;
}
.side_nav ul{
  list-style-type: none;
}

.side_nav a{
  font-size: 30px;
}

main img{
  border-radius: 50%;
  border: 1px solid #ddd;
  padding: 5px;
  width: 150px;
}

.footer_nav ul{
  background-color: purple;
  height: 100px;
  display: flex;
  list-style-type: none;
}

.footer_nav li{
  font-size: 15px;
  height: 60px;
  width: 60px;
  line-height: 60px;
  border-radius: 50%;
  text-align: center;
}

.email{
  background-color: red;
}
.ig{
    background-color: blue;
}


/* borrowed from w3schools to make the instagram button
still need to figure out how to mke it bigger
https://www.w3schools.com/howto/howto_css_social_media_buttons.asp
.fa {
    font-size: 80px;

    height: 60px;
    width: 60px;
    line-height: 60px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-instagram{
  background: #3B5998;
  color: white;

}*/
