/* CSS for gwendolynX.com portfolio site
by Gwen Latasa */



@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

body {
	text-align: center;
	background-color: #f6edff;
  margin-bottom: 300px !important;
}

.banner-img{
  width: 100vw;
  /* height: 100vh;
  width: 100vw; */
}
.button-collapse{
  margin-top: 10px !important;
}

h2{
  font-family: 'Shadows Into Light', cursive, sans-serif;
  font-size: 50px;
  font-weight: bold;
	text-shadow: 2px 2px 4px #96b9f2;

}
p{
  font-family: 'PT Sans', sans-serif;
	font-size: 1.25em;
}
a{
  text-decoration: none;
  color: white;
  font-family: 'Shadows Into Light', cursive, sans-serif;
}


nav {
	height: 90px !important;
  width: 100vw !important;
  /* need this to close the strange gap */
  margin-top: -6px;
}

nav a{
	font-size: 1.5em !important;
  margin-top: 10px;
}

nav a:hover{
  opacity: .5;
}

/* this is to center the links horizontally on the nav, which materialize doesnt like */
#full-nav {
  transform: translateX(32%);
  webkit-transform: translateX(-32%);
}

.name-logo {
	font-family: 'Pacifico', cursive, sans-serif;
	font-size: 2.5em !important;
}

.name-logo-small{
  font-family: 'Pacifico', cursive, sans-serif;
	font-size: 1em !important;
}


main {
	/* width: 100%; */
	top: 70px !important;
	/* background: #707070; */
}

#about {
	margin: 50px auto;
	padding: 50px 0 50px 0;
	border-bottom: 1px solid #ddd;
}
.pdf-link{
	color: #0d2e56;
  font-size: 35px;
	text-shadow: 1px 1px 2px #e20b61;
}
.pdf-link:hover{
  opacity: .5;
}

#portfolio{
	margin: 50px auto;
	padding: 15px 0 50px 0;
	border-bottom: 1px solid #ddd;
}

#content {
	width: 100%;
}

.profile-img{
  border-radius: 50%;
  border: 1px solid #ddd;
	background-color: white;
	margin: 50px;
  padding: 5px;
  width: 200px;
}


.portfolio-box{
	margin-top: 25px !important;
  text-align: center;
}

.project-image:hover{
	animation: shake 0.5s;
	animation-iteration-count: 1;
}
.portfolio-title:hover{
  opacity: .5;
}

.portfolio-title{
  color: #0d2e56;
  font-size: 35px;
	text-shadow: 2px 2px 4px #96b9f2;
}

.portfolio-box p{
  color: #40737a;
}

.portfolio-box img{
	box-shadow: 2px 2px 4px #96b9f2;
}

.languages {
  color: #317882;
  font-style: italic;
}



.footer_nav i, svg{
  color:white;
}
.footer_nav{
  /*background-color: #86ced6;*/
  height: 150px;
  display: flex;
  margin: 0 auto;
  padding: 5px;
  align-items: center;
	justify-content: center;
}

.contact-circle{
  font-size: 3em;
  height: 100px;
  width: 100px;
  line-height: 100px;
  border-radius: 50%;
  text-align: center;
	margin: 10px;
}
.contact-circle:hover {
    opacity: 0.5;
}

.email{
  background-color: #efa0c6;
}
.ig{
  background-color: #86efd8;
}

.linkedin{
  background-color: #79a9f7;
}
.github{
  background-color: #db9ffc;
}

.email-addr{
  font-size: 1.5em !important;
}

@media screen and (min-width: 1350px) {
    .banner-img {
      height: 100vh;
        width:100vw;
    }
}
