/* CSS for gwendolynX.com portfolio site
by Gwen Latasa */

@media screen and (max-width: 600px){
  main {
    flex-direction: column;
  }
 /*
  section {
    order: 1;
  }*/
}

body {
  background-color: orange;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  /*
  justify-content: center;
  align-items: center;*/
}
header{
  background-color-color: yellow;
}

h1{
  font-family: cursive;
  color: teal;
}
.middle_section{
  display: flex;
  background-color: red;
}
nav{
  background-color: lightblue;
}

a{
  text-decoration: none;
}
main img{
  border-radius: 50%;
  border: 1px solid #ddd;
  padding: 5px;
  width: 150px;
}

footer{
  background-color: purple;
}
