/* CSS for gwendolynX.com portfolio site
by Gwen Latasa */

@media screen and (max-width: 600px){
  main {
    flex-direction: column;
  }
 /*
  section {
    order: 1;
  }*/
}

body {
  margin: 0 auto;
  display: flex;
  /*
  justify-content: center;
  align-items: center;*/
}

.middle_section{
  display: flex;
  
}
