/* CSS for gwendolynX.com portfolio site
by Gwen Latasa */



/* https://line25.com/tutorials/how-to-create-a-simple-collapsing-header-effect */
body, div, h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd, img, form, fieldset, input, textarea, blockquote {
	margin: 0; padding: 0; border: 0;
}

body {
	text-align: center;
}


h3{
  font-family: 'Shadows Into Light', cursive, sans-serif;
  font-size: 40px;
  font-weight: bold;

}
p{
  font-family: arial, sans-serif;
}
a{
  text-decoration: none;
  color: white;
  font-family: 'Shadows Into Light', cursive, sans-serif;
}

header {
	height: 50px;
	position: fixed;
	width: 100%;
	z-index: 10;
}


nav {
	height: 50px !important;

}

#banner {
	width: 100%;
	height: 1350px;
	top: 50px;
	background: #707070;
	position: fixed;
	/* background: url(banner-bg.jpg);
	background-size: cover; */

}

#banner img {
	width: 100%;
}



#content {
	width: 100%;
	position: relative;
	top: 1500px;
	background: #ebebeb;
	height: 5000px;
	z-index: 5;
}

.profile-img{
  border-radius: 50%;
  border: 1px solid #ddd;
  padding: 5px;
  width: 200px;
}

.portfolio{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  /* contents inside will wrap */
  flex-wrap: wrap;
}

.portfolio-box{
  /* background-color: #fdffb5; */
  flex-direction: column;
  justify-content: center;

  /* height:200px;
  width:200px; */
  padding: 10px;
  text-align: center;
}

.portfolio-title{
  color: #4a676b;
  font-size: 35px;
}

.portfolio-box p{
  color: #40737a;
}

.languages {
  color: #317882;
  font-style: italic;
}


.footer_nav ul{
  /*background-color: #86ced6;*/
  height: 100px;
  display: flex;
  margin: 0 auto;
  padding: 5px;
  align-items: center;
  list-style-type: none;
}

.footer_nav li{
  font-size: 22px;
  height: 60px;
  width: 60px;
  line-height: 60px;
  border-radius: 50%;
  text-align: center;
}
.footer_nav li:hover {
    opacity: 0.5;
}

.email{
  background-color: #efa0c6;
}
.ig{
  background-color: #86efd8;
}

.linkedin{
  background-color: #79a9f7;
}
.github{
  background-color: #db9ffc;
}
