/* CSS for gwendolynX.com portfolio site
by Gwen Latasa */


body {
	text-align: center;
	background-color: #f6edff;
}


h2{
  font-family: 'Shadows Into Light', cursive, sans-serif;
  font-size: 50px;
  font-weight: bold;
	text-shadow: 2px 2px 4px #96b9f2;

}
p{
  font-family: arial, sans-serif;
}
a{
  text-decoration: none;
  color: white;
  font-family: 'Shadows Into Light', cursive, sans-serif;
}

header {
	height: 100px;
	/* position: fixed; */
	width: 100%;
	/* z-index: 10; */
}


nav {
	height: 100px !important;
}

nav a{
	font-size: 1.5em !important;

}

nav a:hover{
  opacity: .5;
}
.name-logo {
	font-family: 'Pacifico', cursive, sans-serif;
	font-size: 2.5em !important;
}
nav .row {
	/* height: 40px; */
	padding: 15px;
	margin: 0 auto;
}

main {
	/* width: 100%; */
	top: 70px !important;
	/* background: #707070; */


}

#about {
	margin: 50px auto;
	padding: 50px 0 50px 0;
	border-bottom: 1px solid #ddd;
}
#portfolio{
	margin: 50px auto;
	padding: 15px 0 50px 0;
	border-bottom: 1px solid #ddd;
}

#content {
	width: 100%;

}

.profile-img{
  border-radius: 50%;
  border: 1px solid #ddd;
	background-color: white;
	margin: 50px;
  padding: 5px;
  width: 200px;
}

.portfolio{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  /* contents inside will wrap */
  flex-wrap: wrap;
}

.portfolio-box{
  /* background-color: #fdffb5; */
  flex-direction: column;
  justify-content: center;

  /* height:200px;
  width:200px; */
  padding: 10px;
  text-align: center;
}

.portfolio-title{
  color: #0d2e56;
  font-size: 35px;
	text-shadow: 2px 2px 4px #96b9f2;

}

.portfolio-box p{
  color: #40737a;
}

.languages {
  color: #317882;
  font-style: italic;
}

.footer_nav i{
  color:white;
}
.footer_nav{
  /*background-color: #86ced6;*/
  height: 150px;
  display: flex;
  margin: 0 auto;
  padding: 5px;
  align-items: center;
	justify-content: center;
}

.contact-circle{
	color: white;
  font-size: 3em;
  height: 100px;
  width: 100px;
  line-height: 100px;
  border-radius: 50%;
  text-align: center;
	margin: 10px;
}
.contact-circle :hover {
    opacity: 0.5;
}

.email{
  background-color: #efa0c6;
}
.ig{
  background-color: #86efd8;
}

.linkedin{
  background-color: #79a9f7;
}
.github{
  background-color: #db9ffc;
}
